*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#navbarSupportedContent a:hover {
	border-bottom: 2px solid #999;
}

#home{
	height: 100vh;

}

#home h1{
	margin-top: 30vh;
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	letter-spacing: 3px;
}

#aboutMe{
	height: 100vh;
	padding-top: 150px;
}
#projects{
	padding-top: 150px;
	padding-bottom: 100px;
}